<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <h1>THis is node Js practice</h1>
    <p>Welcome to to the profile view of <%= person%> </p>
    <p><center>Age : <%=data.age%> </center></p>
    <p><center>JOB : <%=data.job%> </center></p>
    <h2><center>hobbies</center></h2>
    <ul>
            <% data.hobbies.forEach(funtion(item){ %>
                <li><%= item %></li>
           <% }); %>
    </ul>
</body>
</html>